.hero {
  background-image: url('assets/img/heroimage.jpg');
}
.services-section .divider {
  background-color: var(--darkColor);
}
.services-grid {
  flex: 1 1 220px;
  max-width: 300px;
}
.download-section h2 {
  font-style: italic;
  font-weight: 400;
  color: var(--whiteColor);
  margin-bottom: calc(var(--spacer) * 4);
}
